@model Bug_Tracker.Models.RegisterViewModel
@{
    Layout = null;
}
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bug Tracker | Register</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link href="~/Content/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link href="~/Content/icheck-bootstrap/icheck-bootstrap.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/Content/dist/css/adminlte.css" rel="stylesheet" />
    <!-- Google Font: Source Sans Pro -->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <img src="/Uploads/B_T_Logo.png" width="340px" />
        </div>

        <div class="card">
            <div class="card-body register-card-body">
                <p class="login-box-msg">Register a new account</p>

                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "Multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationMessage("firstName", new { @class = "text-danger" })
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "First name"})
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    @Html.ValidationMessage("lastName", new { @class = "text-danger" })
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Last name" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    @Html.ValidationMessage("displayName", new { @class = "text-danger" })
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.DisplayName, new { @class = "form-control", @placeholder = "Display name" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    <div class="input-group mb-3">
                        @*<input type="email" class="form-control" placeholder="Email">*@
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    <div class="input-group mb-3">
                        @*<input type="password" class="form-control" placeholder="Password">*@
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    <div class="input-group mb-3">
                        @*<input type="password" class="form-control" placeholder="Retype password">*@
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Retype Password" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <input name="avatar" type="file" class="form-control avatarImageInputId" id="avatarImageInputId" accept=".jpg, .png" hidden />

                    <a style="cursor: pointer; background-color: #c9e3ff" id="showAvatarUploadAnchor" >
                        <div class="input-group mb-3" style="width: 100%">
                            <input class="form-control" disabled style="background-color: #c9e3ff; cursor: pointer" placeholder="Click to Upload Avatar Image" id="placeholderTextForAvatar"/>
                            <div class="input-group-append">
                                <div class="input-group-text" style="background-color: #c9e3ff">
                                    <span class="fas fa-image"></span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
                        </div>
                        <!-- /.col -->
                    </div>
                }

                <!--<div class="social-auth-links text-center">
      <p>- OR -</p>
      <a href="#" class="btn btn-block btn-primary">
        <i class="fab fa-facebook mr-2"></i>
        Sign up using Facebook
      </a>
      <a href="#" class="btn btn-block btn-danger">
        <i class="fab fa-google-plus mr-2"></i>
        Sign up using Google+
      </a>
    </div>-->
                <div class="col-12 text-center" style="padding-top:5%">
                    @Html.ActionLink("I already have an account", "Login", "Account", new { @class = "text-center" })
                </div>

            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
    <!-- /.register-box -->
    <!-- jQuery -->
    <script src="../../Scripts/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../Scripts/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../Scripts/dist/js/adminlte.min.js"></script>
    <!-- jQuery -->
    <script src="~/Scripts/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Scripts/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>$.widget.bridge('uibutton', $.ui.button)</script>
    <!-- Bootstrap 4 -->
    <script src="~/Scripts/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/Scripts/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/Scripts/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/Scripts/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/Scripts/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/Scripts/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/Scripts/moment/moment.min.js"></script>
    <script src="~/Scripts/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/Scripts/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/Scripts/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/Scripts/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->


    <script src="~/Scripts/dist/js/adminlte.js"></script>

    <script>

        $(document).ready(function () {
            $("#showAvatarUploadAnchor").on("click", function (e) {
                e.preventDefault();
                $("#avatarImageInputId").trigger('click');
            })
            $(".avatarImageInputId").change(function () {
                var value = this.value.toString().split("\\")[2]
                $("#placeholderTextForAvatar").val(value)
                console.log(value)
            });

        })


    </script>


</body>
</html>











