@model Bug_Tracker.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    var userEmail = ViewBag.UserEmailOnPasswordReset;
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Reset your password.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Code)
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Reset" />
        </div>
    </div>
}
@*@{
    Layout = null;
}

<link rel="shortcut icon" type="image/png" href="/favicon.png" />
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bug Tracker | Login</title>
     Tell the browser to be responsive to screen width 
    <meta name="viewport" content="width=device-width, initial-scale=1">

     Font Awesome 
    <link rel="stylesheet" href="~/Content/fontawesome-free/css/all.min.css">
     Ionicons 
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
     icheck bootstrap 
    <link rel="stylesheet" href="../../Scripts/icheck-bootstrap/icheck-bootstrap.min.css">
     Theme style 
    <link rel="stylesheet" href="../../Content/dist/css/adminlte.min.css">
     Google Font: Source Sans Pro 
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <img src="/Uploads/B_T_Logo.png" width="340px" />
        </div>
         /.login-logo 
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Enter you email.</p>

                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Email, new { id = "resetPasswordEmail"})
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @type = "email", @placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                        </div>
                         /.col 
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Submit</button>
                        </div>
                         /.col 
                    </div>
                }

                <div class="social-auth-links text-center mb-3">
      <p>- OR -</p>
      <a href="#" class="btn btn-block btn-primary">
        <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
      </a>
      <a href="#" class="btn btn-block btn-danger">
        <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
      </a>
    </div>
                 /.social-auth-links 

                <p class="mb-1" style="padding-top: 5%">
                    <a href=@Url.Action("ForgotPassword", "Account")>I forgot my password</a>
                </p>
                <p class="mb-0">
                    @Html.ActionLink("Register a new account", "register", "account", new { @class = "text-center" })
                </p>
                <p class="mb-0">
                    @Html.ActionLink("Sign in as demo user", "Demo", "account", new { @class = "text-center" })
                </p>
            </div>
             /.login-card-body 
        </div>
    </div>
     /.login-box 
     jQuery 
    <script src="../../Scripts/jquery/jquery.min.js"></script>
     Bootstrap 4 
    <script src="../../Scripts/bootstrap/js/bootstrap.bundle.min.js"></script>
     AdminLTE App 
    <script src="../../Scripts/dist/js/adminlte.min.js"></script>
     jQuery 
    <script src="~/Scripts/jquery/jquery.min.js"></script>
     jQuery UI 1.11.4 
    <script src="~/Scripts/jquery-ui/jquery-ui.min.js"></script>
     Resolve conflict in jQuery UI tooltip with Bootstrap tooltip 
    <script>$.widget.bridge('uibutton', $.ui.button)</script>
     Bootstrap 4 
    <script src="~/Scripts/bootstrap/js/bootstrap.bundle.min.js"></script>
     ChartJS 
    <script src="~/Scripts/chart.js/Chart.min.js"></script>
     Sparkline 
    <script src="~/Scripts/sparklines/sparkline.js"></script>
     JQVMap 
    <script src="~/Scripts/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/Scripts/jqvmap/maps/jquery.vmap.usa.js"></script>
     jQuery Knob Chart 
    <script src="~/Scripts/jquery-knob/jquery.knob.min.js"></script>
     daterangepicker 
    <script src="~/Scripts/moment/moment.min.js"></script>
    <script src="~/Scripts/daterangepicker/daterangepicker.js"></script>
     Tempusdominus Bootstrap 4 
    <script src="~/Scripts/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
     Summernote 
    <script src="~/Scripts/summernote/summernote-bs4.min.js"></script>
     overlayScrollbars 
    <script src="~/Scripts/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
     AdminLTE App 


    <script src="~/Scripts/dist/js/adminlte.js"></script>
    <script>
    </script>

</body>
</html>*@
